:root {
    --mainfont-nanum: "nanumSquareNeo";
    --mainfont-nexon: "nexonLv1";
  
    --back: #107980;
    --back100: #76A1A7;
    --back200: #EDE1CF;
    --back300: #D9C5BC;
    --back400: #B6ADAF;
    --back500: #a4bcd4;
    
    --backAlpha100: #76a1a700;
    
    --color: #fff;
    --color100: #E58E00;
    --color200: #FFBB02;
    --color300: #27AFC9;
    --color400: #B0A6A5;
    --color500: #B0A6A5;

    --red: #fe0606;
    
    // 폰트 셋팅
    font-family: var(--mainfont-nanum), var(--mainfont-nexon);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    
    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.4;
    }
}